<!-- JAVASCRIPTS -->
<script src="/public/scripts/jquery.min.js"></script>
<script src="/public/scripts/jquery.backtotop.js"></script>
<script src="/public/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
