<!DOCTYPE html>
    <html>
        <head>
            <title>Donors Hub </title>
               
                <link rel="icon" type="image/png" sizes="16x16" href="images/blood.png">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                <link href="stylesheets/layout.css" rel="stylesheet" type="text/css">
                <link href="stylesheets/framework.css" rel="stylesheet" type="text/css">                
                <link href="stylesheets/fonts/font-google-api.css" rel="stylesheet" type="text/css">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel=" stylesheet " type="text/css ">
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                <!-- MetisMenu CSS -->
                <link href="stylesheets/metisMenu.min.css" rel="stylesheet">
                
                <!-- Timeline CSS -->
                <link href="stylesheets/timeline.css" rel="stylesheet">
                
                <!-- Custom CSS -->
                <link href="stylesheets/startmin.css" rel="stylesheet">
                
                <!-- Morris Charts CSS -->
                <link href="stylesheets/morris.css" rel="stylesheet">
                
                <!-- Custom Fonts -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
                <style type="text/css">
                    .sizeadjust {
                        width: 500px;
                        height: 800px;
                    }
                    .sizeadjust2 {
                        width: 535px;
                        height: 350px;
                    }
                </style>
                </head>
                    <body id="top">
                    <div class="bgded overlay" style="background-image:url('images/main.jpg')">
                        <!-- ################################################################################################ -->
                        <div class="wrapper row1">
                            <header id="header" class="hoc clear">
                                <!-- ################################################################################################ -->
                                <div id="logo" class="fl_left">
                                    <h1><a href="/"> <i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;Donors Hub
                                        </a></h1>
                                </div>
                                <nav id="mainav" class="fl_right">
                                    <ul class="clear">
                                        <li><a href="/">Home</a></li>
                                        <li><a class="drop active">Recepient</i></a>
                                        <ul>
                                            <li>
                                                <a href="recepient/show">Login</a>
                                            </li>
                                            <li>
                                                <a href="/newr">Sign-Up</a>
                                            </li>
                                            <li>
                                                <a href="/recepient">Available</a>
                                            </li>
                                            </li>
                                        </ul>
                                        <li>
                                            <a class="drop active">Donor</i>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="donor/show">Login</a>
                                                </li>
                                                <li>
                                                    <a href="/new">Sign-Up</a>
                                                </li>
                                                <li>
                                                    <a href="/donor">Available</a>
                                                </li>
                                        </li>
                                        </ul>
                                        <li><a href="/about">About</a></li>

                                        <li><a class="drop active">Info</a>
                                            <ul>
                                                <li><a href="/whocanhelp">Who you can help?</a></li>
                                                <li><a href="/fact">Facts</a></li>
                                                <li><a href="/donation-type">Donation Types</a></li>
                                                <li><a href="/ethnic-group">Ethinic Groups</a></li>
                                                <li><a href="/tips">Tips For Succesful Donation</a></li>
                                                <li><a href="/gallery">Gallery</a></li>
                                            </ul>
                                        </li>

                                        
                                        <li><a href="#">Login</i>
                                            </a></li>
                                    </ul>
                                </nav>
                                <!-- ################################################################################################ -->
                            </header>
                        </div>
                    <!--</div>-->
