<!DOCTYPE html>
    <html>
        <head>
            <title>Life Savers </title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                <link href="stylesheets/layout.css" rel="stylesheet" type="text/css">
                <link href="stylesheets/framework.css" rel="stylesheet" type="text/css">                
                <link href="stylesheets/fonts/font-google-api.css" rel="stylesheet" type="text/css">
                <link href="stylesheets/fontawesome-4.5.0.min.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="stylesheets/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <script src="scripts/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <style type="text/css">
                .sizeadjust {
                    width: 500px;
                    height: 800px;
                }
                .sizeadjust2 {
                    width: 535px;
                    height: 350px;
                }
            </style>
        </head>
            <body id="top">
            <div class="bgded overlay" style="background-image:url('images/main.jpg')">
                <!-- ################################################################################################ -->
                <div class="wrapper row1">
                    <header id="header" class="hoc clear">
                        <!-- ################################################################################################ -->
                        <div id="logo" class="fl_left">
                            <h1><a href="/"> <i class="fa fa-heartbeat" aria-hidden="true"></i> Life Savers
                                </a></h1>
                        </div>
                        <nav id="mainav" class="fl_right">
                            <ul class="clear">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>

                                <li><a class="drop active"  href="#">Info</a>
                                    <ul>
                                        <li><a href="/whocanhelp">Who you can help?</a></li>
                                        <li><a href="/fact">Facts</a></li>
                                        <li><a href="/donation-type">Donation Types</a></li>
                                        <li><a href="/ethnic-group">Ethinic Groups</a></li>
                                        <li><a href="/tips">Tips For Succesful Donation</a></li>
                                        <li><a href="/gallery">Gallery</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Request</i>
                                    </a></li>
                                <li><a href="#">Sign-Up</i>
                                    </a></li>
                            </ul>
                        </nav>
                        <!-- ################################################################################################ -->
                    </header>
                </div>
            <!--</div>-->
