<% include ./partials/header %>

<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="  btmspace-50" id="start">
            <h3 style="font-family: 'Architects Daughter', cursive; font-size: 2em;"><u>About Us</u></h3>
            <p class="nospace" style="text-align: left;">An initiative by Computer Science and Applications Department of Amrita University, Amritapuri Campus
            <p>The entire project took about 2.5 months for completion. An initial span of 1 month was spend on learning and data collection. The entire project is purely based on JavaScript and its frameworks. We have learned and applied different technolgies like HTML5, CSS, BootStrap, FontAwesome, jQuery, Node, Express, Rest...  </p>
            <p>Special thanks to Dr. Smitha Chandran for her guidance. We are extremly greatful to all the faculty members for their support and teachings without which we wouldn't have been able to accomplish this. </p></p>

        </div>
        <hr class="style13 "> <br>
        <h3 class="center font-x2 nospace"><u>Team</u></h3>
        <br>
        <ul class="nospace group services">
            <li class="one_third first">
                <article>
                    <h6 class="heading" style="padding: .4em;"><img src="images/abhi.jpeg"></h6>
                    <h3><center>Abhilash Saj<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Front-End Web Developer)</center></h4>
                    <p style="padding: .5em;">Entered the world of development at the tender age of 8 with his first game, My Dragon Ball Story, build on Mugen2D Engine. He has also co-developed other games on engines like Unity, across different platforms. Competitive programmer and opensource enthusiast. Loves to work with his friends and loves reading. Mastermind on technology.&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/abhilash-saj-866426130/">View Profile &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <h6 class="heading"><img src="images/arjun.jpg"></h6>
                    <h3><center>Arjun V<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Back-End Web Developer)</center></h4>
                    <p style="padding: .5em;">Started to code at the age of 12 with his First program "Hello World" in Java and. He worked on a social media website called "TeaBulb"(currently not available) with his friends in his 9th Grade. He is currently a Web Application Developer as well as a Full-Stack Web Developer. Passionate coder and technology enthusiast. Worked with building Web Applications using Python-Django Framework, Node.Js & its Framework and also an opensource Lover&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/arjun-v-b9a773134/">View Profile &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><h6 class="heading"><img src="images/amit.jpg"></h6>
                    <h3><center>Amit Krishna<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Content Creator & Android App Developer)</center></h4>
                    <p style="padding: .5em;">He is an Android Developer and Opensource enthusiast. Worked on Python-Django web Framework. Started coding at the age of 9 and is a member of India's most active Open-source club FOSS@Amrita. Have deployed two Android Apps till date. Has a keen interest in the area of Android development&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/amit-krishna-3b53b1139/">View profile &raquo;</a></footer>
                </article>
            </li>

        </ul>
        <br>
        <hr class="style17">
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>

<div class="wrapper coloured">
    <div id="social" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
            <h6 class="title">Social Media</h6>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="one_half">
            <h6 class="title">Newsletter sign-up</h6>
            <form class="clear" method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input type="text" value="" placeholder="Type Email Here&hellip;">
                    <button class="fa fa-share" type="submit" title="Submit"><em>Submit</em></button>
                </fieldset>
            </form>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="title">Project Details</h6>
            <p>An initiative by Computer Science and Applications Department of Amrita University, Amritapuri Campus</p>
            <p>Special thanks to Dr. Smitha Chandran for her guidance. We are extremly greatful to all the faculty members for their support without which we wouldn't have been able to accomplish this. </p>
        </div>
        <div class="one_third">
            <h6 class="title">Contact Us</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        Street Name &amp; Number, Town, Postcode/Zip
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">News</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Elephant artists, and mobile blood donation honour late king</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2017-10-06">Friday, 6<sup>th</sup> October 2017</time>
                        <p class="nospace">The event also featured a Buddhist religious ceremony, along with a mobile blood donation unit so people could perform a good deed as a way&hellip;</p>
                    </article>
                </li>
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Blood donation camp at Raj Nivas</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2017-10-05">Thursday, 5<sup>th</sup> October 2017</time>
                        <p class="nospace">Raj Nivas on Monday organised a blood donation camp led by Lt. ... and preventing dengue and meet the requirement of blood platelets for&hellip;</p>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Project by Abhilash, Arjun and Amit</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

<% include ./partials/footer %>