<% include ./partials/header %>

<div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="  btmspace-50" id="start">
            <h3 style="font-family: 'Architects Daughter', cursive; font-size: 2em;"><u>About Us</u></h3>
            <p class="nospace" style="text-align: left;">An initiative by Computer Science and Applications Department of Amrita University, Amritapuri Campus
            <p>The entire project took about 2.5 months for completion. An initial span of 1 month was spend on learning and data collection. The entire project is purely based on JavaScript and its frameworks. We have learned and applied different technolgies like HTML5, CSS, BootStrap, FontAwesome, jQuery, Node, Express, Rest...  </p>
            <p>Special thanks to Dr. Smitha Chandran for her guidance. We are extremly greatful to all the faculty members for their support and teachings without which we wouldn't have been able to accomplish this. </p></p>

        </div>
        <hr class="style13 "> <br>
        <h3 class="center font-x2 nospace"><u>Team</u></h3>
        <br>
        <ul class="nospace group services">
            <li class="one_third first">
                <article>
                    <h6 class="heading" style="padding: .4em;"><img src="images/abhi.jpeg"></h6>
                    <h3><center>Abhilash Saj<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Front-End Web Developer)</center></h4>
                    <p style="padding: .5em;">Entered the world of development at the tender age of 8 with his first game, My Dragon Ball Story, build on Mugen2D Engine. He has also co-developed other games on engines like Unity, across different platforms. Competitive programmer and opensource enthusiast. Loves to work with his friends and loves reading. Mastermind on technology.&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/abhilash-saj-866426130/">View Profile &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <h6 class="heading"><img src="images/arjun.jpg"></h6>
                    <h3><center>Arjun V<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Back-End Web Developer)</center></h4>
                    <p style="padding: .5em;">Started to code at the age of 12 with his First program "Hello World" in Java. He worked on developing a social media website called "TeaBulb"(currently not available) with his friends in his 9th Grade. He is currently a Full-Stack Web Developer. He has worked on building Web Applications using Python-Django Framework, Node.Js-Express Js Framework&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/arjun-v-b9a773134/">View Profile &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article><h6 class="heading"><img src="images/amit.jpg"></h6>
                    <h3><center>Amit Krishna<hr class="style14" style="width: 70%"></center></h3>
                    <br>
                    <h4><center>(Content Creator & Android App Developer)</center></h4>
                    <p style="padding: .5em;">He is an Android Developer and Opensource enthusiast. Worked on Python-Django web Framework. Started coding at the age of 9 and is a member of India's most active Open-source club FOSS@Amrita. Have deployed two Android Apps till date. Has a keen interest in the area of Android development&hellip;</p>
                    <footer><a href="https://www.linkedin.com/in/amit-krishna-3b53b1139/">View profile &raquo;</a></footer>
                </article>
            </li>

        </ul>
        <br>
        <hr class="style17">
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>



<% include ./partials/footer %>