<% include ./partials/header %>

<div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Info-Tab</a>
            </li>
            <li>
                <a href="#">Donation Types</a>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <h1>
            <strong>
                <u>Types of Donations</u>
            </strong>
        </h1>
        <p>Donation of 'whole blood' is the most common type of blood donation, but there are a few other types of blood donation.
            Donation types include:</p>
        <div>
            <ul>
                <li>
                    <a href="#whole_blood">
                        <strong>Blood (or Whole Blood)</strong>
                    </a>
                </li>
                <li>
                    <a href="#double_red">
                        <strong>Power Red</strong>
                    </a>
                </li>
                <li>
                    <a href="#platelets">
                        <strong>Platelets</strong>
                    </a>
                </li>
                <li>
                    <a href="#plasma">
                        <strong>Plasma</strong>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>
        <div>In addition, there are two special donation types that have to do with
            <i>who</i> is making the donation:</div>
        <div class="arrow">
            <ul>
                <li>
                    <a href="#autologous">
                        <strong>Autologous</strong>
                    </a>
                </li>
                <li>
                    <a href="#directed">
                        <strong>Directed</strong>
                    </a>
                </li>
            </ul>
        </div>


        <div class="clear">&nbsp;</div>
        <div>The best type of donation for each individual depends on their blood type, physical characteristics, personal preferences
            and the availability of convenient donation opportunities.&nbsp;Giving the "right type" of donation helps ensure
            the best use of your valuable contribution.</div>
        <br>
        <hr>
        <br>

        <h1 id="whole_blood">Blood (or Whole Blood) Donation</h1>
        <table width="480" cellspacing="1" cellpadding="1" border="0">
            <tbody>
                <tr></tr>
                <tr>
                    <td width="120" valign="top">
                        <span class="inline inline-left">
                            <img alt="Whole Blood Donation" class="image image-thumbnail" src="images/RedCell_Symbol.jpg"
                                width="120" height="120">
                        </span>
                    </td>
                    <td width="5">&nbsp;</td>
                    <td>
                        <ul type="disc">
                            <li>This is the most common type of donation, during which approximately a pint of 'whole blood'
                                is given.</li>
                            <li>The blood is separated into transfusable components – red cells, plasma, platelets and/or cryoprecipitated
                                AHF.</li>
                            <li>This type of blood donation usually takes about an hour, though the actual donation takes about
                                8-10 minutes.</li>
                            <li>You are eligible to donate 'whole blood' every 56 days.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>

        <h1 id="platelets">Platelet Apheresis</h1>
        <table width="480" cellspacing="1" cellpadding="1" border="0">
            <tbody>
                <tr></tr>
                <tr>
                    <td width="120" valign="top">
                        <span class="inline inline-left">
                            <img alt="Platelet Apheresis Donation" class="image image-thumbnail" src="images/Platelets_Symbol.jpg"
                                width="120" height="120">
                        </span>
                    </td>
                    <td width="5">&nbsp;</td>
                    <td>
                        <ul type="disc">
                            <li>Platelet donations are collected at select American Red Cross Blood Donation centers only.</li>
                            <li>During this type of donation, an apheresis machine collects the platelets and some plasma and
                                returns the red cells and most of the plasma back to the donor.</li>
                            <li>Platelets are a vital element of cancer and organ transplant treatments, as well as many surgical
                                procedures as they help prevent massive blood loss.</li>
                            <li>A single donation of platelets collected by apheresis can constitute one or several transfusable
                                units, while it takes about four to six&nbsp;whole blood donations to constitute a single
                                transfusable unit of platelets.</li>
                            <li>The donation takes approximately one and-a-half to two and-a-half hours.</li>

                            <a href="/donating-blood/types-donations/platelets">Learn More about Platelet Apheresis Donations »</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>

        <h1 id="plasma">Plasma Apheresis</h1>
        <table width="480" cellspacing="1" cellpadding="1" border="0">
            <tbody>
                <tr>
                    <td width="120" valign="top">
                        <span class="inline inline-left">
                            <span class="inline inline-left">
                                <img alt="Plasma Donation" class="image image-thumbnail" src="images/Plasma_Symbol.jpg" width="120"
                                    height="120">
                            </span>
                        </span>
                    </td>
                    <td width="5">&nbsp;</td>
                    <td>
                        <ul type="disc">
                            <li>Plasma is collected simultaneously with a
                                <a href="/donating-blood/types-donations/platelets">platelet donation</a> and is collected at select American Red Cross Donation Centers only.</li>
                            <li>During a plasma&nbsp;apheresis donation, the blood is collected by a machine, which separates
                                the plasma, red cells and platelets and returns the red cells and/or platelets back to the
                                donor.</li>
                            <li>While donors with Type AB blood can only give red cells to other Type AB recipients, they are
                                the
                                <i>universal</i> plasma donors. The ‘right type’ donation for AB donors may be an apheresis&nbsp;donation
                                of plasma or plasma and platelets.&nbsp;</li>
                            <li>The donation takes approximately&nbsp;1&nbsp;hour and 15 minutes.</li>
                            <br>
                            <a href="/donating-blood/types-donations/plasma">Learn More about Plasma Donations »</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <hr>
        <br>
        <h1 id="double_red">Power Red</h1>
        <table width="480" cellspacing="1" cellpadding="1" border="0">
            <tbody>
                <tr></tr>
                <tr>
                    <td width="120" valign="top">
                        <span class="inline inline-left">
                            <img alt="Double Red Cells" class="image image-thumbnail" src="images/DoubleRed_Symbol.jpg" width="120"
                                height="120">
                        </span>
                    </td>
                    <td width="5">&nbsp;</td>
                    <td>
                        <p></p>
                        <ul type="disc">
                            <li>Power Red&nbsp;is&nbsp;done with the help of an apheresis&nbsp;machine which collects the red
                                cells but returns most of the plasma and platelets to the donor.</li>
                            <li>Red cells are the most transfused blood component, and certain blood types are often in short
                                supply.</li>
                            <li>Power Red&nbsp;from Type O donors and donors with Rh-negative blood types play a very important
                                role in maintaining blood supply levels.</li>
                            <li>Donors need to meet slightly higher hemoglobin and body height/weight requirements in order to
                                be able to give a Power Red.</li>
                            <li>Power Red&nbsp;takes approximately&nbsp;30 minutes longer than a whole blood donation&nbsp;and
                                allow you to give two units of red cells.</li>
                            <li>Available in most donation centers and some blood drives.</li>
                            <li>Donors are eligible to give Power Red&nbsp;every 112 days.
                                <br>
                                <a href="http://www.redcrossblood.org/donating-blood/types-donations/double-red-cells">Learn More about Power Red&nbsp;»</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>

        <h1 id="autologous">Autologous Donations</h1>
        <ul>
            <li>These are donations that individuals give for their own use with a doctor's prescription - for example, before
                a surgery.</li>
            <li>Not subject to the same testing criteria as other donations, and therefore, if they are not used by the patient,
                they are discarded.</li>
            <li>Must be scheduled in advance by calling 1-800-RED-CROSS. Be sure to indicate that you are requesting an autologous
                appointment when scheduling.</li>
        </ul>

        <h1 id="directed">Directed Donations</h1>
        <ul>
            <li>Donations made for a specific patient by a friend or family member with a doctor's prescription.</li>
            <li>Subject to all testing requirements of other donations, and if for some reason they are not or cannot be utilized
                by the patient, they may be made available for other patients in need.</li>
        </ul>

</div>
<!-- ################################################################################################ -->
<!-- / main body -->
</main>
</div>

<% include ./partials/footer %>

