<% include ./partials/header %>

   
    <div class="wrapper row2">
        <div id="breadcrumb" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Info-Tab</a></li>
                <li><a href="#">Who You Can Help?</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </div>
    </div>
    <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="content">
            <!-- ################################################################################################ -->
            <h1>How blood is used?</h1>
            <img class="imgr borderedbox inspace-5 sizeadjust" src="images/what-happens-to-donated-blood.png" alt="">
            <p>Blood or the components of blood are used to treat patients with medical conditions such as anaemia, cancer blood disorders, and those having surgery.</p>
            <h1>Blood Components</h1>
            <p>Blood is made up of a number of components, including red blood cells, platelets and plasma. Each of these can be used to treat many different conditions.</p>
            <img class="imgl borderedbox inspace-5 sizeadjust2" src="images/donate-blood.png" alt="">
            <p>Blood is usually separated into its individual components or parts, so a patient can be given the particular component they need.
            </p>
            <p>This makes the most of every blood donation, as the components in one unit of blood (or one donation) can be used to treat different patients.</p>
            <br>
            <h1>Blood transfusions</h1>
            <p>Donated blood or components are given to a patient in a blood transfusion. Blood transfusions are given via an intravenous line into a blood vessel.</p>
            <p>How blood was used in 2014, according to hospital usage:
            <ul>
                <li>67% was used to treat medical conditions including anaemia, cancer and blood disorders</li>
                <li>27% was used in surgery, including cardiac surgery and emergency surgery</li>
                <li>6% was used to treat blood loss after childbirth</li>
            </ul>
            Usage varies between hospitals depending on their particular specialties. </p>
            <p>NHS Blood and Transplant works closely with hospitals to make sure valuable blood donations are used appropriately. </p>
            <p>The demand for blood from hospitals has fallen due to increased efficiency, but new donors are always needed to make sure there is enough blood to treat those who need it. </p>
            <br>
            <h1>Blood transfusions for people who are dying</h1>
            <p>Blood can be vital for people with medical conditions or who are having surgery. But blood transfusions can also improve the quality of life for people whose illness has no cure.</p>
            <p>Karen Clarke, a community nurse who gives transfusions to terminally ill people in their own homes, says: 'These vital transfusions give patients a better quality of life and the energy and ability to enjoy this precious, final time with their families'.	</p>

            <!-- ################################################################################################ -->
        </div><br><hr>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>

<% include ./partials/footer %>