<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Donors List </h1>
            <p>List of available Blood Donors</p>
            <p>
                <a class="btn btn-primary" href="/"> Go Back</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex: wrap;">
        <% donors.forEach(function(donors){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= donors.bloodgroup %>">
                    <div class="caption">
                        <h4>
                            <strong>
                                <%= donors.name %>
                            </strong>
                        </h4>
                    </div>
                    <p>
                    </p>
                </div>

            </div>
            <% }); %>
    </div>
</div>

<% include ./partials/footer %>