<% include ../partials/header %>

<style>
    .container {
        color: black;
    }
</style>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Donors List </h1>
            <p>List of available Blood Donors</p>
            <p>
                <a class="btn btn-primary" href="/"> Go Back</a>
            </p>
        </div>
    </header>
    <p>
    <div class="row text-center" style="display: flex; flex: wrap;">
        <% donors.forEach(function(donors){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h4>
                            <strong>
                                <%= donors.bloodgroup %>
                            </strong>
                        </h4>
                        <h5>
                            <p><strong>Name:</strong> <%= donors.name %></p>
                            <p><strong>Available: </strong>
                                <%= donors.available %>
                            </p>
                        </h5>
                    </div>
                    <p>
                    </p>
                </div>

            </div>
            <% }); %>
    </div>
    </p>
</div>

<% include ../partials/footer %>